<div class="swiper p-5 my-5 mx-auto max-w-4xl bg-gray-500 rounded-xl">
    <swiper-container slides-per-view="1" navigation="true" pagination="true" autoplay="true" class="w-full h-full"
        centered-slides="true">
        @for (image of images; track image.id) {
        <swiper-slide class="flex justify-center items-center transition-opacity duration-500">
            <img [src]="image.url" [alt]="image.alt" [title]="image.title"
                class="rounded-xl w-full h-full object-cover">
            <div
                class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 hover:opacity-50 transition-opacity duration-500">
                <span class="text-white text-2xl font-bold text-center w-full justi-start ">{{ image.title
                    }}</span>
            </div>
        </swiper-slide>
        }
    </swiper-container>
</div>